<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ammar.ecommerceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECommerceApp">
        <activity android:name=".detailproduct"></activity>
        <activity android:name=".previewlist" />
        <activity android:name=".productlist" />
        <activity android:name=".about" />
        <activity android:name=".category" />
        <activity android:name=".home" />
        <activity android:name=".itemform" />
        <activity android:name=".loginform" />
        <activity android:name=".newstaffform" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity1" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity2" />

        <activity android:name=".ActivityFirst">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>